/*
!.gitignore
!.bashrc
!.vimrc
!.pkglist
!.foreignpkglist
!/.config
/.config/*
!/.config/alacritty
#!/.config/alacritty/alacritty.yml
#!/.config/alacritty/alacritty.toml
#!/.config/qtile/config.py
!/.config/qtile
!/.config/nvim
